@charset "utf-8";

.info {
	margin-left:20px;
}

.info .at {
	width:15px;
	height:15px;
}

#foto {
	margin-bottom:20px;
	margin-right:20px;
	width:800px;
	height:180px;

}

#logo {
    display: block;          /* لوگو وسط صفحه */
    max-width: 300px;        /* حداکثر عرض لوگو */
    height: auto;            /* حفظ نسبت تصویر */
    margin: 10px auto;       /* فاصله بالا 10px و مرکز افقی */
}

.info_content {
	/*
	padding-top:0px;
	font-size:18pt;
	line-height:27pt;
	*/
}

.top {
	margin-left:930px;
}

.back {
	margin-left:860px;
}
